* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.taskorganizer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex: 1;
  gap: 2rem;
}
.todo,
.pending,
.done {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-todo-container,
.task-pending-container,
.task-done-container {
  width: 350px;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 6px;
  box-shadow: 5px 4px 21px -3px rgba(0, 0, 0, 0.73);
  color: rgb(255, 249, 249);
  background-color: #ff0000;
  transition: background-color 0.5s ease 0s;
  position: relative;
  overflow: hidden;
}

.task-todo-container:hover,
.task-pending-container:hover,
.task-done-container:hover {
  background-color: rgb(33, 19, 58);
}

.task-todo-container > h3,
.task-pending-container > h3,
.task-done-container > h3 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 4px;

  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.task-todo-container > div,
.task-pending-container > div,
.task-done-container > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  gap: 10px;
  text-transform: capitalize;
  width: 100%;
}

.task-value {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bolder;
}

.task-icons {
  position: absolute;
  top: 50%;
  right: -315px;
  display: flex;
  gap: 10px;
  transform: translateX(30px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.task-todo-container:hover .task-icons {
  transform: translateX(0);
  opacity: 1;
}
.task-pending-container:hover .task-icons {
  transform: translateX(0);
  opacity: 1;
}
.task-done-container:hover .task-icons {
  transform: translateX(0);
  opacity: 1;
}

.task-icons button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.task-icons button:hover {
  transform: scale(1.2);
}
