* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgDiv {
  width: 100%;
  height: 100vh;
  background-color: rgba(35, 40, 68, 0.699);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-add-container {
  background-color: rgb(22, 21, 34);
  border-radius: 10px;
  z-index: 2;
  width: 600px;
  height: 600px;
  color: whitesmoke;
}

.project-add-button {
  height: 8rem;
  width: 16rem;
  z-index: 0;
  position: absolute;
  font-size: xx-large;
  text-transform: capitalize;
  font-weight: bolder;
}

.project-add-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-add-section > h2 {
  font-weight: bolder;
  font-size: xx-large;
  text-transform: capitalize;
  padding: 10px;
}

.project-add-section > label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: larger;
  align-self: stretch;
  margin: 0 50px;
}

#projectTitle {
  padding: 10px;
  outline: none;
  border-radius: 8px;
  border: solid rgba(117, 117, 119, 0.39) 1px;
  color: black;
  background-color: transparent;
  font-weight: bolder;
  text-transform: capitalize;
  color: whitesmoke;
}

#projectDescription {
  width: 100%;
  padding: 0.5rem;
  height: 10rem;
  border-radius: 8px;
  outline: none;
  border: solid rgba(117, 117, 119, 0.39) 1px;
  background-color: transparent;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: large;
  resize: none;
  color: whitesmoke;
}

.projectMultiselect {
  border: solid rgba(117, 117, 119, 0.39) 1px;
  padding: 10px;
  border-radius: 8px;
}

.p-multiselect-items-wrapper {
  max-height: 150px;
  color: whitesmoke;
  background-color: rgb(10 10 16);
  border: solid rgba(117, 117, 119, 0.39) 1px;
  padding: 5px;
}

.p-multiselect-label {
  display: flex;
  gap: 5px;
}

.p-multiselect-token {
  gap: 5px;
  padding: 0 5px;
  background-color: rgb(10 10 16);
  border-radius: 8px;
  border: solid rgba(117, 117, 119, 0.39) 1px;
}

.p-multiselect-item {
  gap: 5px;
}

.p-multiselect-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: rgb(10 10 16);
  padding: 10px;
}

.p-multiselect-filter-container > input {
  padding: 5px;
  background-color: transparent;
  outline: none;
  border: solid rgba(117, 117, 119, 0.39) 1px;
  color: whitesmoke;
}

.p-multiselect-filter-icon {
  position: absolute;
  top: 30%;
  left: 95%;
  color: rgba(117, 117, 119, 0.59);
}

.project-add-section > button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: solid rgba(117, 117, 119, 0.39) 2px;
  background-color: rgb(22, 21, 34);
  color: whitesmoke;
  font-size: medium;
  text-transform: capitalize;
  transition: background-color 0.5s ease 0s;
}

.project-add-section > button:hover {
  background-color: rgb(47, 44, 83);
  cursor: pointer;
}
